@model Bma_home_login_menu.Models.Beneficiario


@{
    ViewData["Title"] = "Dependentes";
}

<h2>Beneficiário:@Model.Name</h2>

<div>
    <h4>Dependentes</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                   Data de Nascimento
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dependentes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_Nascimento)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
