@model IEnumerable<Bma_home_login_menu.Models.Beneficiario>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <h1 class="fs-2">Beneficiários</h1>

<p>
        <a asp-action="Create" class="btn" style="color:#000 ; border:solid #86BCAA">Cadastrar Beneficiário</a>
        <a asp-controller="Funcionarios" asp-action="Logado" class="btn" style="color:#000 ; border:solid #86BCAA">Voltar</a>
    
</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cesta_basica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cesta_Verde)
            </th>
            <th>
                Ações
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Nascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            @if(item.Cesta_basica == true)
            {
                <td>
                   Sim
                </td>
                }
            else{
                <td>
                    Não
                </td>
            }
            @if (item.Cesta_Verde == true)
            {
                <td>
                    Sim
                </td>
                }
            else
            {
                <td>
                    Não
                </td>
            }
    
            <td>
                <a asp-controller="Dependentes" asp-action="Index">Cadastrar Dependente</a>              
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" style="margin-top:10px" asp-controller="Funcionarios" asp-action="Logado">Voltar</a>
</div>